<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #2A2B33;
        }
        .login-box {
            margin-top: 100px;
            width: 300px;
            padding: 20px;
            border: 5px solid #ccc;
            border-radius: 10px;
            background-color: #2A2B33;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-box h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #FFFFFF;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            color: #ccc;
            font-weight: bold;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .btn-login {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-login:hover {
            background-color: #0055af;
            color: #fff;
        }
        .btn-register {
            text-align: center;
            color: #007bff;
            text-decoration: none;
            cursor: pointer;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <%- include('../partials/begining-header') %> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="login-box">
                    <h2>Admin Girişi</h2>
                    <form id="adminLogin">
                        <div class="form-group">
                            <label for="tcno">Admin Adı</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-login">Giriş</button>
                    </form>
                    <p class="btn-register"><a href="/user/login_render">Kullanıcı mısınız? Burada ne işiniz var</a></p>
                </div>
            </div>
        </div>
        <div id="alert-container"></div>
    </div>

    <script>
        const adminLogin = document.getElementById('adminLogin');
        const alertContainer = document.getElementById('alert-container');

        adminLogin.addEventListener('submit', async function(e) {
            e.preventDefault();
            console.log("x");

            const formData = new FormData(adminLogin);
            const name = formData.get('name');
            const password = formData.get('password');

            const response = await fetch('/api/admin/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name, password })
            });

            const data = await response.json();
            console.log(data, "**");
            if(data.hata === 0)
            {
                window.location.href = '/admin/home_render';
            }
            else
            {
                let alertDiv = alertContainer.querySelector('.alert');
                if(alertDiv)
                {
                    alertDiv.className = `alert alert-danger row justify-content-center`;
                    alertDiv.role = "alert";
                    alertDiv.innerText = data.message || "Bir hata oluştu.";
                } else {
                    alertDiv = document.createElement("div");
                    alertDiv.className = `alert alert-danger row justify-content-center`;
                    alertDiv.role = "alert";
                    alertDiv.innerText = data.message || "Bir hata oluştu.";
                    alertContainer.appendChild(alertDiv);
                }
            }
        });
    </script>

    
</body>
</html>