<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">ANASAYFA</a>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/users" class="nav-link">XXX</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/create_etkinlik" class="nav-link">XXXX</a>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-underline"></div>