<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">ANASAYFA</a>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/approve_orders" class="nav-link">Onay Bekleyen Siparişler</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/create_product" class="nav-link">Ürün Oluşturma</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/logs" class="nav-link">Loglar</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/logout" class="nav-link">Çıkış</a>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-underline"></div>